<slider-component
  class="collection-icons-slider slider"
  {% if block.settings.layout == 'slider' %}
    data-slide-desktop
  {% endif %}
  {% if block.settings.slider_on_mobile %}
    data-slide-mobile
  {% endif %}
  data-slide-smooth
  data-draggable
>
  <div class="slider-container">
    <ul
      id="Slider-{{ section.id }}"
      class="slider-wrapper slider--center{% if block.settings.layout == 'slider' %} auto-grid-desktop{% else %} grid-desktop gap-desktop-4 columns-desktop--{{ block.settings.columns }}{% endif %}{% if block.settings.slider_on_mobile %} auto-grid-mobile{% else %} grid-mobile gap-mobile-4 columns-mobile--2{% endif %}"
      style="--item-perfect-size: 12rem; --item-perfect-size-mobile: 12rem;"
    >
      {% content_for 'blocks' %}
    </ul>
    {%- if block.settings.show_nav_buttons -%}
      {% render 'slider-nav-buttons', section_id: section.id %}
    {%- endif -%}
  </div>
  {%- if block.settings.show_seek_bar -%}
    {% render 'slider-seek-bar', section_id: section.id %}
  {%- endif -%}
</slider-component>
{% schema %}
{
  "name": "t:blocks._collection-icons.name",
  "class": "collection-icons-block",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.all.layout.label",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.all.layout.grid.label"
        },
        {
          "value": "slider",
          "label": "t:sections.all.layout.slider.label"
        }
      ],
      "default": "grid"
    },
    {
      "type": "range",
      "id": "columns",
      "label": "t:sections.all.columns.label",
      "min": 5,
      "max": 12,
      "step": 1,
      "default": 8,
      "info": "t:sections.all.desktop.effect.info",
      "visible_if": "{{ block.settings.layout == 'grid' }}"
    },
    {
      "type": "checkbox",
      "id": "show_nav_buttons",
      "label": "t:sections.all.slider.show_nav_buttons.label",
      "default": true,
      "visible_if": "{{ block.settings.layout == 'slider' }}"
    },
    {
      "type": "checkbox",
      "id": "show_seek_bar",
      "label": "t:sections.all.slider.show_seek_bar.label",
      "default": true,
      "visible_if": "{{ block.settings.layout == 'slider' }}"
    },
    {
      "type": "header",
      "content": "t:sections.all.mobile.header_content"
    },
    {
      "type": "checkbox",
      "id": "slider_on_mobile",
      "label": "t:sections.all.slider.enable_mobile_slider.label",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "_collection-icon"
    }
  ]
}
{% endschema %}
