<slider-component
  class="shopify-block member-list-block slider"
  {% if block.settings.slider_on_mobile %}
    data-slide-mobile
  {% endif %}
  data-slide-smooth
  data-draggable
  {{ block.shopify_attributes }}
>
  <div class="slider-container">
    <ul
      id="Slider-{{ section.id }}"
      class="slider-wrapper grid-desktop columns-desktop--{{ block.settings.columns }}"
    >
      {% content_for 'blocks' %}
    </ul>
  </div>
  <div
    class="slider-seek-bar"
    aria-label="{{ 'general.slider.slide_seek_bar' | t }}"
    aria-controls="Slider-{{ section.id }}"
  ></div>
</slider-component>
{% schema %}
{
  "name": "t:blocks._member-list.name",
  "tag": null,
  "settings": [
    {
      "type": "range",
      "id": "columns",
      "label": "t:sections.all.columns.label",
      "info": "t:sections.all.desktop.effect.info",
      "min": 3,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "header",
      "content": "t:sections.all.mobile.header_content"
    },
    {
      "type": "checkbox",
      "id": "slider_on_mobile",
      "label": "t:sections.all.slider.enable_mobile_slider.label",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "_member"
    }
  ]
}
{% endschema %}
