{{ 'section-collection-icons.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  .section-{{ section.id }}-margin {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
      .section-{{ section.id }}-margin {
        margin-top: {{ section.settings.margin_top }}px;
        margin-bottom: {{ section.settings.margin_bottom }}px;
      }
  }
{%- endstyle -%}
<div class="collection-icons isolate section-{{ section.id }}-margin color-{{ section.settings.color_scheme }} gradient">
  <div class="section__wrapper collection-icons_wrapper page-width section-{{ section.id }}-padding">
    {% content_for 'block', type: '_section-header', id: 'section-header' %}
    {% content_for 'block', type: '_collection-icons', id: 'collection-icons' %}
  </div>

  {% render 'section-id-tip', section_id: section.id %}
</div>
{% schema %}
{
  "name": "t:sections.collection-icons.name",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer", "custom.drawer", "custom.popup"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.header_content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.margin.header_content"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.margin.margin_top.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.margin.margin_bottom.label",
      "default": 88
    }
  ],
  "blocks": [
    {
      "type": "_section-header"
    },
    {
      "type": "_collection-icons"
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection-icons.presets.name",
      "category": "t:sections.all.categories.product_collection",
      "blocks": [
        {
          "type": "_section-header",
          "static": true,
          "id": "section-header",
          "blocks": [
            {
              "type": "heading",
              "settings": {
                "content": "Collection icons",
                "size": "medium",
                "uppercase": true
              }
            },
            {
              "type": "description"
            }
          ]
        },
        {
          "type": "_collection-icons",
          "static": true,
          "id": "collection-icons",
          "blocks": [
            {
              "type": "_collection-icon"
            },
            {
              "type": "_collection-icon"
            },
            {
              "type": "_collection-icon"
            },
            {
              "type": "_collection-icon"
            },
            {
              "type": "_collection-icon"
            },
            {
              "type": "_collection-icon"
            },
            {
              "type": "_collection-icon"
            },
            {
              "type": "_collection-icon"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
