{{ 'section-collapsible-content.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  .section-{{ section.id }}-margin {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    .section-{{ section.id }}-margin {
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="collapsible-content isolate color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-margin">
  <div class="section__wrapper collapsible-content__wrapper page-width section-{{ section.id }}-padding">
    {% content_for 'block', type: '_section-header', id: 'section-header' %}
    {% content_for 'block', type: '_collapsible-content-list', id: 'collapsible-content-list' %}
  </div>

  {% render 'section-id-tip', section_id: section.id %}
</div>
{% schema %}
{
  "name": "t:sections.collapsible-content.name",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer", "custom.drawer", "custom.popup"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.header_content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top.label",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom.label",
      "default": 36
    },
    {
      "type": "header",
      "content": "t:sections.all.margin.header_content"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.margin.margin_top.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.margin.margin_bottom.label",
      "default": 88
    }
  ],
  "blocks": [
    {
      "type": "_section-header"
    },
    {
      "type": "_collapsible-content-list"
    }
  ],
  "presets": [
    {
      "name": "t:sections.collapsible-content.presets.name",
      "category": "t:sections.all.categories.content_info",
      "blocks": [
        {
          "type": "_section-header",
          "static": true,
          "id": "section-header",
          "blocks": [
            {
              "type": "heading",
              "settings": {
                "content": "Collapsible content",
                "size": "medium",
                "uppercase": true
              }
            },
            {
              "type": "description"
            }
          ]
        },
        {
          "type": "_collapsible-content-list",
          "static": true,
          "id": "collapsible-content-list",
          "blocks": [
            {
              "type": "_collapsible-content-title"
            },
            {
              "type": "_collapsible-content-item"
            },
            {
              "type": "_collapsible-content-item"
            },
            {
              "type": "_collapsible-content-item"
            },
            {
              "type": "_collapsible-content-item"
            },
            {
              "type": "_collapsible-content-item"
            },
            {
              "type": "_collapsible-content-title"
            },
            {
              "type": "_collapsible-content-item"
            },
            {
              "type": "_collapsible-content-item"
            },
            {
              "type": "_collapsible-content-item"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
