{{ 'component-image-banner.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-margin {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-margin {
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  if section.settings.image_height == 'adapt'
    assign aspect_ratio = section.settings.image.aspect_ratio | default: 1.6
    assign height = 1 | divided_by: aspect_ratio | times: 100 | append: '%'

    if section.settings.image_mobile != blank
      assign aspect_ratio_mobile = section.settings.image_mobile.aspect_ratio | default: 1.6
    else
      assign aspect_ratio_mobile = aspect_ratio
    endif
    assign height_mobile = 1 | divided_by: aspect_ratio_mobile | times: 100 | append: '%'
  elsif section.settings.image_height == 'small'
    assign height = '35rem'
    assign height_mobile = '30rem'
  elsif section.settings.image_height == 'large'
    assign height = '50rem'
    assign height_mobile = '40rem'
  else
    assign height = '40rem'
    assign height_mobile = '35rem'
  endif
-%}

<div class="image-banner{% unless section.settings.enable_full_width %} page-width{% endunless %} section-{{ section.id }}-margin">
  <div class="section__wrapper image-banner__wrapper isolate color-{{ section.settings.color_scheme }} gradient{% unless section.settings.show_text_content_box %} banner-box--transparent{% endunless %}">
    <div
      class="banner-media media media--adapt{% if section.settings.image_behavior != 'none' %} image--has-behavior behavior--{{ section.settings.image_behavior }}{% if section.settings.image_behavior == 'zoom-in' or section.settings.image_behavior == 'parallax' %} scroll-synergy{% endif %}{% endif %}"
      style="opacity: {{ section.settings.image_opacity }}%; --ratio-percent: {{ height }}; --ratio-percent-mobile: {{ height_mobile }};"
    >
      {% render 'lazy-image',
        has_mobile: section.settings.image_mobile,
        image_object: section.settings.image,
        class: 'banner-image',
        preload: section.settings.if_as_main_area,
        placeholder: 'lifestyle-1'
      %}

      {% comment %} 手机端横幅图片 {% endcomment %}
      {% render 'lazy-image',
        is_mobile: true,
        image_object: section.settings.image_mobile,
        class: 'banner-image-mobile',
        widths: '450, 660, 900',
        preload: section.settings.if_as_main_area
      %}
    </div>
    {%- if section.blocks.size > 0 -%}
      <div class="banner-content">
        <div class="banner-content-wrapper{% if section.settings.enable_full_width %} page-width{% else %} ps-6 pe-6{% endif %} position-container position--{{ section.settings.content_position }} position-mobile--{{ section.settings.content_position_mobile }}">
          <div
            class="banner-box content-group width--{{ section.settings.content_width }} gradient text-align--{{ section.settings.text_alignment }} text-align-mobile--{{ section.settings.text_alignment_mobile }}{% if section.settings.show_text_content_box and section.settings.enabled_blur_effect %} background--blur{% endif %}"
            {% if section.settings.show_text_content_box %}
              style="--alpha-background: {{ section.settings.text_content_box_opacity | divided_by: 100.0 }}"
            {% endif %}
          >
            {% content_for 'blocks' %}
          </div>
        </div>
      </div>
    {%- endif -%}
  </div>

  {% render 'section-id-tip', section_id: section.id %}
</div>

{% schema %}
{
  "name": "t:sections.image-banner.name",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer", "custom.drawer", "custom.popup"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_full_width",
      "label": "t:sections.all.layout.enable_full_width.label",
      "default": true
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.all.height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.all.height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.all.height.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.all.image.image_picker.label",
      "info": "t:sections.all.banner.height.options__2.info"
    },
    {
      "type": "range",
      "id": "image_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.all.image.image_opacity.label",
      "default": 90
    },
    {
      "type": "header",
      "content": "t:sections.all.content.header_content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "content_width",
      "label": "t:sections.all.content.content_width.label",
      "info": "t:sections.all.desktop.effect.info",
      "options": [
        {
          "value": "small",
          "label": "t:sections.all.content.content_width.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.content.content_width.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.content.content_width.options__3.label"
        },
        {
          "value": "full",
          "label": "t:sections.all.content.content_width.options__4.label"
        }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "content_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.all.position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.all.position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.all.position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.all.position.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.all.position.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.all.position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.all.position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.all.position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.all.position.options__9.label"
        }
      ],
      "default": "middle-center",
      "label": "t:sections.all.position.label"
    },
    {
      "type": "text_alignment",
      "id": "text_alignment",
      "default": "center",
      "label": "t:sections.all.text-alignment.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_content_box",
      "default": true,
      "label": "t:sections.all.text-content.show_box.label"
    },
    {
      "type": "range",
      "id": "text_content_box_opacity",
      "label": "t:sections.all.text-content.box_background_opacity.label",
      "default": 100,
      "min": 0,
      "max": 100,
      "step": 1,
      "visible_if": "{{ section.settings.show_text_content_box }}"
    },
    {
      "type": "checkbox",
      "id": "enabled_blur_effect",
      "label": "t:sections.all.text-content.box_background_blur.label",
      "default": false,
      "visible_if": "{{ section.settings.show_text_content_box }}"
    },
    {
      "type": "header",
      "content": "t:sections.all.animation.content"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.animation.image_behavior.options__1.label"
        },
        {
          "value": "fixed",
          "label": "t:sections.all.animation.image_behavior.options__3.label"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.all.animation.image_behavior.options__4.label"
        },
        {
          "value": "parallax",
          "label": "t:sections.all.animation.image_behavior.options__5.label"
        }
      ],
      "default": "none",
      "label": "t:sections.all.animation.image_behavior.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.mobile.header_content"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:sections.all.image.image_picker.label",
      "info": "t:sections.all.banner.height_mobile.info"
    },
    {
      "type": "select",
      "id": "content_position_mobile",
      "label": "t:sections.all.position.label",
      "default": "middle-center",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.all.position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.all.position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.all.position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.all.position.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.all.position.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.all.position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.all.position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.all.position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.all.position.options__9.label"
        }
      ]
    },
    {
      "type": "text_alignment",
      "id": "text_alignment_mobile",
      "default": "center",
      "label": "t:sections.all.text-alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.seo.header_content"
    },
    {
      "type": "checkbox",
      "id": "if_as_main_area",
      "label": "t:sections.all.seo.if_as_main_area.label",
      "default": false,
      "info": "t:sections.all.seo.if_as_main_area.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.margin.header_content"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.margin.margin_top.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.margin.margin_bottom.label",
      "default": 88
    }
  ],
  "blocks": [
    {
      "type": "@theme"
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-banner.presets.name",
      "category": "t:sections.all.categories.media_layout",
      "blocks": [
        {
          "type": "heading",
          "settings": {
            "type": "2",
            "size": "medium",
            "uppercase": true
          }
        },
        {
          "type": "description"
        },
        {
          "type": "buttons",
          "blocks": [
            {
              "type": "button"
            },
            {
              "type": "button",
              "settings": {
                "style": "secondary"
              }
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
