{%- style -%}
  .section-{{ section.id }}-margin {
      margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
      margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
      .section-{{ section.id }}-margin {
          margin-top: {{ section.settings.margin_top }}px;
          margin-bottom: {{ section.settings.margin_bottom }}px;
      }
  }
{%- endstyle -%}
<div class="main-search-banner{% unless section.settings.enable_full_width %} page-width{% endunless %} section-{{ section.id }}-margin">
  <div class="section__wrapper main-search-banner__wrapper isolate color-{{ section.settings.color_scheme }} gradient">
    {%- if section.settings.background_image or section.settings.background_image_mobile -%}
      <div
        class="background-image{% if section.settings.image_behavior != 'none' %} image--has-behavior behavior--{{ section.settings.image_behavior }}{% if section.settings.image_behavior == 'zoom-in' or section.settings.image_behavior == 'parallax' %} scroll-synergy{% endif %}{% endif %}"
        style="opacity: {{ section.settings.background_image_opacity }}%;"
      >
        {% render 'lazy-image',
          has_mobile: section.settings.background_image_mobile,
          image_object: section.settings.background_image
        %}
        {% render 'lazy-image', is_mobile: true, image_object: section.settings.background_image_mobile %}
      </div>
    {%- endif -%}
    <div class="page-content-wrapper height--{{ section.settings.height }} position-container position--{{ section.settings.content_position }}{% if section.settings.enable_full_width %} page-width{% else %} ps-4 pe-4{% endif %}">
      <div class="content-group content--stretch width--{{ section.settings.content_width }} text-align--{{ section.settings.text_alignment }} text-align-mobile--{{ section.settings.text_alignment_mobile }}">
        <h1 class="text-content-heading heading-block heading-size--{{ section.settings.heading_size }}{% if section.settings.heading_uppercase %} uppercase{% endif %}">
          {{ 'templates.search.page' | t }}
        </h1>
        {%- if section.settings.description != blank -%}
          <div class="text-content-description rte">
            {{ section.settings.description }}
          </div>
        {%- endif -%}
        <main-search class="search-form-wrapper d-block">
          <form action="{{ routes.search_url }}" method="get" role="search" class="search">
            <div class="flexible-group">
              <div class="search-field field">
                <input
                  id="Search-In-Template"
                  class="search__input field-input"
                  type="search"
                  name="q"
                  value="{{ search.terms | escape }}"
                  placeholder="{{ 'templates.search.placeholder' | t }}"
                >
                <label class="field-label" for="Search-In-Template">{{ 'templates.search.placeholder' | t }}</label>
                <input name="options[prefix]" type="hidden" value="last">
                <button
                  type="reset"
                  class="reset-button field-button light{% if search.terms == blank %} hidden{% endif %}"
                  aria-label="{{ 'templates.search.reset' | t }}"
                >
                  {{ 'templates.search.clear' | t }}
                </button>
              </div>
              <button type="submit" class="button">
                {% render 'icon-sets', icon: 'search' %}
                {{ 'templates.search.search' | t }}
              </button>
            </div>
          </form>
        </main-search>
        {%- if search.performed -%}
          <div class="search-results-message light">
            {%- if search.results_count == 0 and search.filters == empty -%}
              {{ 'templates.search.no_results' | t: terms: search.terms }}
            {%- else -%}
              {{ 'templates.search.results_with_count_and_term' | t: terms: search.terms, count: search.results_count }}
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.main-search-banner.name",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_full_width",
      "label": "t:sections.all.layout.enable_full_width.label",
      "default": true
    },
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "small",
          "label": "t:sections.all.height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.all.height.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.image.header_background_image"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:sections.all.image.image_picker.label"
    },
    {
      "type": "range",
      "id": "background_image_opacity",
      "label": "t:sections.all.image.image_opacity.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 90
    },
    {
      "type": "select",
      "id": "image_behavior",
      "label": "t:sections.all.animation.image_behavior.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.animation.image_behavior.options__1.label"
        },
        {
          "value": "fixed",
          "label": "t:sections.all.animation.image_behavior.options__3.label"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.all.animation.image_behavior.options__4.label"
        },
        {
          "value": "parallax",
          "label": "t:sections.all.animation.image_behavior.options__5.label"
        }
      ],
      "default": "none"
    },
    {
      "type": "header",
      "content": "t:sections.all.content.header_content"
    },
    {
      "type": "select",
      "id": "content_position",
      "options": [
        {
          "value": "middle-left",
          "label": "t:sections.all.position.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.all.position.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.all.position.options__6.label"
        }
      ],
      "default": "middle-center",
      "label": "t:sections.all.position.label",
      "info": "t:sections.all.desktop.effect.info"
    },
    {
      "type": "select",
      "id": "content_width",
      "label": "t:sections.all.content.content_width.label",
      "info": "t:sections.all.desktop.effect.info",
      "options": [
        {
          "value": "small",
          "label": "t:sections.all.content.content_width.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.content.content_width.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.content.content_width.options__3.label"
        },
        {
          "value": "full",
          "label": "t:sections.all.content.content_width.options__4.label"
        }
      ],
      "default": "medium"
    },
    {
      "type": "text_alignment",
      "id": "text_alignment",
      "label": "t:sections.all.text-alignment.label",
      "default": "center"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.all.text-content.heading.size.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.text-content.heading.size.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.text-content.heading.size.options__3.label"
        }
      ],
      "default": "small",
      "label": "t:sections.all.text-content.heading.size.label"
    },
    {
      "type": "checkbox",
      "id": "heading_uppercase",
      "label": "t:sections.all.text-content.heading.uppercase.label",
      "default": false
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.all.text-content.description.label",
      "default": "<p>Search for products, categories, or help topics.</p>"
    },
    {
      "type": "header",
      "content": "t:sections.all.mobile.header_content"
    },
    {
      "type": "text_alignment",
      "id": "text_alignment_mobile",
      "label": "t:sections.all.text-alignment.label",
      "default": "center"
    },
    {
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "t:sections.all.image.background_image_picker.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.margin.header_content"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.margin.margin_top.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.margin.margin_bottom.label",
      "default": 32
    }
  ]
}
{% endschema %}
