{{ 'section-media-with-text.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  .section-{{ section.id }}-margin {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    .section-{{ section.id }}-margin {
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="media-with-text isolate color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-margin">
  {%- if section.settings.background_image or section.settings.background_image_mobile -%}
    <div
      class="background-image{% if section.settings.image_behavior != 'none' %} image--has-behavior behavior--{{ section.settings.image_behavior }}{% if section.settings.image_behavior == 'zoom-in' or section.settings.image_behavior == 'parallax' %} scroll-synergy{% endif %}{% endif %}"
      style="opacity: {{ section.settings.background_image_opacity }}%;"
    >
      {% render 'lazy-image',
        has_mobile: section.settings.background_image_mobile,
        image_object: section.settings.background_image
      %}
      {% render 'lazy-image', is_mobile: true, image_object: section.settings.background_image_mobile %}
    </div>
  {%- endif -%}
  <div class="section__wrapper media-with-text__wrapper image-width--{{ section.settings.image_width }} image-position--{{ section.settings.image_position }} image-position-mobile--{{ section.settings.image_position_mobile }}{% unless section.settings.enable_full_width %} page-width{% endunless %} section-{{ section.id }}-padding">
    <div class="media-item video-position--{{ section.settings.video_position }}">
      {% content_for 'block', type: '_image', id: 'image' %}
      <div class="video-wrapper{% if section.settings.enable_parallax %} scroll-synergy behavior--parallax{% endif %}">
        {% content_for 'block', type: '_video', id: 'video' %}
      </div>
    </div>
    {% content_for 'block', type: '_rich-text', id: 'rich-text' %}
  </div>

  {% render 'section-id-tip', section_id: section.id %}
</div>
{% schema %}
{
  "name": "t:sections.media-with-text.name",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer", "custom.drawer", "custom.popup"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_full_width",
      "label": "t:sections.all.layout.enable_full_width.label",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.image.background_image_picker.label"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:sections.all.image.background_image_picker.label"
    },
    {
      "type": "range",
      "id": "background_image_opacity",
      "label": "t:sections.all.image.image_opacity.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 90
    },
    {
      "type": "select",
      "id": "image_behavior",
      "label": "t:sections.all.animation.image_behavior.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.animation.image_behavior.options__1.label"
        },
        {
          "value": "fixed",
          "label": "t:sections.all.animation.image_behavior.options__3.label"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.all.animation.image_behavior.options__4.label"
        },
        {
          "value": "parallax",
          "label": "t:sections.all.animation.image_behavior.options__5.label"
        }
      ],
      "default": "none"
    },
    {
      "type": "header",
      "content": "t:sections.all.content.header_content"
    },
    {
      "type": "select",
      "id": "image_width",
      "label": "t:sections.all.image.image_width.label",
      "info": "t:sections.all.desktop.effect.info",
      "options": [
        {
          "value": "small",
          "label": "t:sections.all.image.image_width.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.image.image_width.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.image.image_width.options__3.label"
        }
      ],
      "default": "small"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "t:sections.all.image.image_position.label",
      "info": "t:sections.all.desktop.effect.info",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.image.image_position.options__1.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.image.image_position.options__2.label"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "video_position",
      "label": "t:sections.all.video.video_position.label",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.all.video.video_position.options__1.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.all.video.video_position.options__2.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.all.video.video_position.options__3.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.all.video.video_position.options__4.label"
        }
      ],
      "default": "bottom-right"
    },
    {
      "type": "checkbox",
      "id": "enable_parallax",
      "label": "t:sections.all.image.enable_parallax.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.all.mobile.header_content"
    },
    {
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "t:sections.all.image.background_image_picker.label"
    },
    {
      "type": "select",
      "id": "image_position_mobile",
      "label": "t:sections.all.image.image_position.label",
      "options": [
        {
          "value": "top",
          "label": "t:sections.all.image.image_position.options__3.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.all.image.image_position.options__4.label"
        }
      ],
      "default": "top"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.header_content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top.label",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom.label",
      "default": 36
    },
    {
      "type": "header",
      "content": "t:sections.all.margin.header_content"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.margin.margin_top.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.margin.margin_bottom.label",
      "default": 88
    }
  ],
  "blocks": [
    {
      "type": "_rich-text"
    }
  ],
  "presets": [
    {
      "name": "t:sections.media-with-text.presets.name",
      "category": "t:sections.all.categories.media_layout",
      "blocks": [
        {
          "type": "_rich-text",
          "static": true,
          "id": "rich-text",
          "blocks": [
            {
              "type": "heading"
            },
            {
              "type": "description"
            },
            {
              "type": "buttons",
              "blocks": [
                {
                  "type": "button"
                }
              ]
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
