{%- assign pick_up_availabilities = product_variant.store_availabilities | where: 'pick_up_enabled', true -%}

{%- if product_variant.available and pick_up_availabilities.size > 0 -%}
  {% liquid
    assign first_store = pick_up_availabilities | find: 'available', true

    if first_store == blank
      assign first_store = pick_up_availabilities.first
    endif
  %}

  <div class="pickup-availability-preview{% if first_store.available %} pickup-local-available{% else %} pickup-local-unavailable{% endif %}">
    <div class="pickup-availability-info">
      {%- if first_store.available -%}
        <div class="pickup-title">
          {% render 'icon-sets-basic', icon: 'success' %}
          {{ 'products.product.pickup.available_at_html' | t: location_name: first_store.location.name }}
        </div>
        <small class="pickup-time light">{{ first_store.pick_up_time }}</small>
      {%- else -%}
        <div class="pickup-title">
          {% render 'icon-sets-basic', icon: 'warning' %}
          {{ 'products.product.pickup.unavailable_at_html' | t: location_name: first_store.location.name }}
        </div>
      {%- endif -%}
    </div>
    <modal-opener
      class="more-button button button--ethereal button--mini"
      role="button"
      aria-haspopup="dialog"
      aria-expanded="false"
      aria-controls="Pickup-Availability-Drawer"
      tabindex="0"
    >
      {{ 'general.view_all' | t }}
      {% render 'icon-sets-basic', icon: 'right' %}
    </modal-opener>
  </div>

  <drawer-component id="Pickup-Availability-Drawer" class="drawer modal">
    <div class="modal-overlay"></div>
    <div
      class="modal-inner gradient focus-none"
      role="dialog"
      data-trap
      aria-modal="true"
      aria-label="{{ 'products.product.pickup.drawer' | t }}"
      tabindex="-1"
    >
      <div class="drawer-handle"></div>
      <div class="drawer-header">
        <button
          class="drawer-close-button button button--small button--icon button--air small-hide"
          onclick="this.closest('.modal').hide()"
          aria-label="{{ 'accessibility.close' | t }}"
        >
          {% render 'icon-sets-basic', icon: 'close' %}
        </button>
        <b class="drawer-title font-heading">{{ 'products.product.pickup.drawer' | t }}</b>
      </div>
      <div class="drawer-content pickup-availability-content">
        <div class="variant-info">
          <div class="variant-image media media--square">
            {% liquid
              assign variant_image = product_variant.image
              if variant_image == blank
                assign variant_image = product_variant.product.featured_media
              endif
            %}
            {%- if variant_image != blank -%}
              {{ variant_image | image_url: width: 200 | image_tag }}
            {%- else -%}
              {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
          </div>
          <div class="variant-meta">
            <div class="variant-title">{{ product_variant.product.title }}</div>
            {%- unless product_variant.product.has_only_default_variant -%}
              <small class="variant-options light">{{ product_variant.title }}</small>
            {%- endunless -%}
          </div>
        </div>
        <ul class="pickup-availability-list list-unstyled">
          {%- for store in pick_up_availabilities -%}
            <li class="store-item{% if store.available %} local-available{% endif %}">
              <div class="location-name font-heading">{{ store.location.name | escape }}</div>
              {%- if store.available -%}
                <div class="location-description">
                  {% render 'icon-sets-basic', icon: 'success' %}
                  {{ 'products.product.pickup.available' | t }},
                  {{ store.pick_up_time | downcase }}
                </div>
              {%- else -%}
                <div class="location-description">
                  {% render 'icon-sets-basic', icon: 'warning' %}
                  {{ 'products.product.pickup.unavailable' | t }}
                </div>
              {%- endif -%}

              {%- assign address = store.location.address -%}
              <div class="location-address">
                <div class="address-info light">
                  {{ address | format_address }}
                  {%- if address.phone.size > 0 -%}
                    <a class="link link-text show-underline" href="tel:{{ address.phone }}" dir="ltr">
                      {{- address.phone -}}
                    </a>
                  {%- endif -%}
                </div>
                {% liquid
                  assign base_url = 'https://www.google.com/maps/dir/?api=1&destination='
                  assign encoded_address = address.summary | url_encode
                  assign map_url = base_url | append: encoded_address
                %}
                <a
                  class="button button--mini button--icon button--pill"
                  href="{{ map_url }}"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  {% render 'icon-sets-basic', icon: 'top-right' %}
                  <span class="visually-hidden">{{ 'products.product.pickup.navigate' | t }}</span>
                </a>
              </div>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </drawer-component>
{%- endif -%}
