{{ 'section-product-compare-table.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  .section-{{ section.id }}-margin {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
      .section-{{ section.id }}-margin {
        margin-top: {{ section.settings.margin_top }}px;
        margin-bottom: {{ section.settings.margin_bottom }}px;
      }
  }
{%- endstyle -%}
<div class="product-compare-table isolate color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-margin">
  <div class="section__wrapper product-compare-table__wrapper page-width section-{{ section.id }}-padding">
    {% content_for 'block', type: '_section-header', id: 'section-header' %}
    {% content_for 'block', type: '_compare-table', id: 'compare-table' %}
  </div>

  {% render 'section-id-tip', section_id: section.id %}
</div>
{% schema %}
{
  "name": "t:sections.product-compare-table.name",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer", "custom.drawer", "custom.popup"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.product-compare-table.settings.header_product.content"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "t:sections.all.product-list.label",
      "limit": 5
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "t:sections.all.image.image_ratio.label",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.all.image.image_ratio.options__6.label"
        },
        {
          "value": "square",
          "label": "t:sections.all.image.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.image.image_ratio.options__2.label"
        },
        {
          "value": "landscape",
          "label": "t:sections.all.image.image_ratio.options__3.label"
        }
      ],
      "default": "square",
      "visible_if": "{{ section.settings.product_list }}"
    },
    {
      "type": "select",
      "id": "image_fit",
      "label": "t:sections.all.media.media_fit.label",
      "options": [
        {
          "value": "cover",
          "label": "t:sections.all.media.media_fit.options__1.label"
        },
        {
          "value": "contain",
          "label": "t:sections.all.media.media_fit.options__2.label"
        }
      ],
      "default": "cover",
      "visible_if": "{{ section.settings.product_list }}"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.header_content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top.label",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom.label",
      "default": 36
    },
    {
      "type": "header",
      "content": "t:sections.all.margin.header_content"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.margin.margin_top.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.margin.margin_bottom.label",
      "default": 88
    }
  ],
  "blocks": [
    {
      "type": "_section-header"
    },
    {
      "type": "_compare-table"
    }
  ],
  "presets": [
    {
      "name": "t:sections.product-compare-table.presets.name",
      "category": "t:sections.all.categories.product_collection",
      "blocks": [
        {
          "type": "_section-header",
          "static": true,
          "id": "section-header",
          "blocks": [
            {
              "type": "heading",
              "settings": {
                "content": "Product compare table",
                "size": "medium",
                "uppercase": true
              }
            },
            {
              "type": "description"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
